<section class="phx-hero">
  <h2>Network Address Page</h2>
  <p>Use this page to view and edit the network address of your device.</p>
  <p>Address is <%= @address %></p>
  <p>Random value is <%= @number %></p>
</section>
